{% extends 'base.html' %}

{% block title %}reset your password{% endblock title %}


{% block content %}

    

    {% if validlink %}
    <div class="change-password-container">
        <h1>reset your password</h1>
        <p>please Enter the new password</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="change password">
        </form>
    </div>
    {% else %}
    <div class="change-password-done">
        <h1>reset your password</h1>
        <p >the password reset link is no longer valid please resent the email <a href="{% url 'password_reset' %}"> reset</a></p>
    </div>
    {% endif %}
{% endblock content %}