{% extends 'base.html' %}


{% block title %}Password reset email{% endblock %}

{% block content %}

    <div class="change-password-container">
        <p>some one asked for password reset for email {{ email }}</p>
        <p>follow the link below to reset your password</p>
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
        <p>your user name , in case you've forgetten: {{ user.get_username }}</p>
    </div>

{% endblock content %}