{% block content %}
    <div class="header">
        <span class="logo"> Book Markt </span>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == 'dashboard' %} class="selected"{% endif %}>
                    <a href="{% url 'dashboard' %}">dashboard</a>
                </li>
                <li {% if section == 'images' %} class="selected"{% endif %}>
                    <a href="#">Images</a>
                </li>
                <li {% if section == 'people' %} class="selected"{% endif %}>
                    <a href="#">People</a>
                </li>
                <li{% if section == 'edit' %} class="selected"{% endif %}>
                    <a href="{% url 'edit' %}">Edit Profile</a>
                </li>
            </ul>
        {% endif %}

        {% if request.user.is_authenticated %}
        <img src="{{ request.user.profile.photo.url }}" alt="{{ request.user.username }}" class="profile-pic">
        <span class="user">
                Hello {{ request.user.first_name | default:request.user.username }}
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">login</a>
            {% endif %}
        </span>
    </div>
    <div >
        <ul>
            {% for message in messages %}
                <li
                {% if message.tags %} 
                class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}